<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title></title>
    <style type="text/css">
        .grid {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 10PX;
            overflow-wrap: normal;

        }
    </style>
</head>

<body style="background:  #F0EFFF;">
    {{>Navbar}}
    <h1 class="text-center p-5">Menu</h1>

    <div class="container mb-5 grid">
        {{#each menumenu}}
        <div data-aos="zoom-in" data-aos-delay="400">
            <div id="demo" class="card" style="width:220px;">
                <img class="card-img-top" src={{img}} alt="Card image" style=" height:150px; object-fit: cover;">
                <div class="card-body text-center">
                    <h4 class="card-title">{{name}}</h4>
                    <button class="btn" style="background-color: #653186; color: white;"">Rs.{{amount}}</button>

                </div>
            </div>
        </div>
        {{/each}}

    </div>
    <script>

    </script>

    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
