<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title></title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        nav {
            background-color: $indigo-900;
        }
    </style>
</head>

<body>
    {{!-- <img src="https://img.icons8.com/dotty/2x/cloud-lighting.png"> --}}

    {{!-- <nav class="navbar navbar-light" style="background-color: #0d6efd;"> --}}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #653186;">
            <div class="container">
                <!--Logo/Brand-->
                <div data-aos="fade-down" data-aos-delay="400">
                    <a class="navbar-brand" href="/" style="color: #FFFFFF;">Lightning Cafe</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto" style="font-size: 18px;">
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/" style="color: #FFFFFF;">Home</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/about" style="color: #FFFFFF;">About Us</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/menu" style="color: #FFFFFF;">Menu</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/book" style="color: #FFFFFF;">Book Table</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/gallery" style="color: #FFFFFF;">Gallery</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/blog" style="color: #FFFFFF;">Blog</a>
                            </li>
                        </div>

                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/logout" style="color: #FFFFFF;">Logout</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/login" style="color: #FFFFFF;">LogIn</a>
                            </li>
                        </div>
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/register" style="color: #FFFFFF;">Register</a>
                            </li>
                        </div>

                        {{!-- <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/cart" style="color: #FFFFFF;">Cart</a>
                            </li>
                        </div> --}}
                        <div data-aos="fade-down" data-aos-delay="400">
                            <li class="nav-item">
                                <a class="nav-link" href="/contact" style="color: #FFFFFF;">Contact Us</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>